{% extends 'squirrel_tracker/base.html' %}

{% load static %}

{% block title %} - Add Sighting{% endblock %}

{% block main %}
    <div class="container">
        {% if messages %}
            <div class="messages" >
                {% for message in messages %}
                    <div class="alert alert-success">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <h1>Add a New Squirrel Sighting here!</h1>
        <h3>Please input what you saw here</h3>
        <form action="{% url 'squirrel_tracker:add' %}" method="post">
            {% csrf_token %}
<!--            {{ form }}-->
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                <br>
            {% endfor %}
            <button class="btn btn-outline-secondary" type="submit">Add</button>
        </form>
    </div>
{% endblock %}