{% extends 'squirrel_tracker/base.html' %}

{% load static %}

{% block title %} - {{ sighting.unique_squirrel_id }} details page{% endblock %}

{% block main %}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <table class="table">
            <thead>
                 <tr>
                    <th scope="col">#</th>
                    <th scope="col">value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Unique Squirrel ID</th>
                    <td>{{ sighting.unique_squirrel_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Latitude</th>
                    <td>{{ sighting.latitude }}</td>
                </tr>
                <tr>
                    <th scope="row">Longitude</th>
                    <td>{{ sighting.longitude }}</td>
                </tr>
                <tr>
                    <th scope="row">Shift</th>
                    <td>{{ sighting.shift }}</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ sighting.date }}</td>
                </tr>
                <tr>
                    <th scope="row">Age</th>
                    <td>{{ sighting.age }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h3>Update sighting here!</h3>
        <form action="{% url 'squirrel_tracker:detail' sighting.unique_squirrel_id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                <br>
            {% endfor %}
            <button class="btn btn-outline-secondary" type="submit">Update</button>
        </form>
    </div>
{% endblock %}