{% extends 'squirrel_tracker/base.html' %}

{% load static %}

{% block title %} - All Sightings{% endblock %}

{% block main %}
    <div class="container">
        <a href="/">Back to home page </a>
        <h1>Squirrel List</h1>
        <a href="add/">Add a New Squirrel Sighting</a>
        
        <ul class="list-group">
            {% for sighting in sightings %}
                <li class="list-group-item">

                    <h5>{{ sighting.unique_squirrel_id }}</h5>
                    <p>
                        {{ sighting.date }}
                    </p>
                    <a href="{{ sighting.unique_squirrel_id }}/">Details</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
</html>